@font-face {
  font-family: 'iconfont';  /* Project id 3406087 */
  src: url('//at.alicdn.com/t/font_3406087_1g5mna2o2mc.woff2?t=1653446308103') format('woff2'),
       url('//at.alicdn.com/t/font_3406087_1g5mna2o2mc.woff?t=1653446308103') format('woff'),
       url('//at.alicdn.com/t/font_3406087_1g5mna2o2mc.ttf?t=1653446308103') format('truetype');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .18rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }